<!DOCTYPE html>
<html>
  <head>
    <title>Examen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <main class="container">
  		<%= yield %>
  </main>
  
	<%= debug(params) if Rails.env.development? %>
  </body>
</html>
